services:
  # Database - Postgres
  postgres:
    image: pgvector/pgvector:pg18-trixie
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Database UI - pgAdmin
  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
      - PGADMIN_CONFIG_ALLOW_SPECIAL_EMAIL_DOMAINS=["local"]
    ports:
      - "${PGADMIN_PORT_HTTP}:80"
      - "${PGADMIN_PORT_HTTPS}:443"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    restart: unless-stopped
    depends_on:
      - postgres

  # LLM Runtime - Ollama
  ollama:
    image: ollama/ollama:latest
    ports:
      - "${OLLAMA_PORT}:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "ollama list"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    # NVIDIA GPU support
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  # LLM Chat - Open WebUI
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
    ports:
      - "${OPEN_WEBUI_PORT}:8080"
    volumes:
      - open_webui_data:/app/backend/data
    restart: unless-stopped
    depends_on:
      postgres:
          condition: service_healthy
      ollama:
          condition: service_healthy

  # Reverse Proxy - NGINX
  nginx:
    image: nginx:latest
    ports:
      - "${NGINX_PORT_HTTP}:80"
      - "${NGINX_PORT_HTTPS}:443"
    restart: unless-stopped
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/snippets:/etc/nginx/snippets:ro
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Browser access point - Homepage
  # RSS Reader - TBD:CommaFeed,FreshRSS,Miniflux
  # Monitoring Dashboard - Grafana
  # Container metrics - cAdvisor
  # System metrics - Node Exporter
  # Metrics collection - Prometheus
  # Log aggregation - Loki
  # Log collection - Alloy

volumes:
  postgres_data:
    driver: local
  pgadmin_data:
    driver: local
  ollama_data:
    driver: local
  open_webui_data:
    driver: local

networks:
  default:
    driver: bridge
